/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 150%;
    color: #333;
    background: #f5f5f3;
  }

  .navbar-brand{
    font-weight: bold;
    background-color: #65ddc5;
    color: white;
    font-size: 30px;
    padding: 20px;
   
  }

  header {
    background: #65ddc5;
    
  }
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: left 10%;
  }
  
  h2 {
    font-size: 24px;
  }

  h3 {
    color: #65ddc5;
    text-align: left;
    font-size: 50px;
  }
  h4 {
    color: #65ddc5;
    text-align: left;
    font-size: 70px;
  }
  
  a {
    color: #333;
  }
  
  p {
    color: #333;
    text-align: left;
    float: center;
  }
  .title {
    color: #65ddc5;
    text-align: center;
    float: center;
    font-size: 25px;
  }

  .Visualizations {
    width:50% !important;
    height:50% !important;
    text-align: start;

  }
  /* Selecting elements by class */
  .container {
    width: 1024px;
    margin: 0 auto;
  }

  /* Box Class */
.box {
  margin-top: 60px; 
  margin-bottom: 62px; 
  padding: 10px 20px 15px; 
  color:black;
  background-color: white; 

}
  
  /* Selecting elements by ID */
  #main-bio,
  #contact-info,
  #bio-image {
    float: left;
  }
  
  #figure {
    position: relative;
  }
  
  #bio-name {
    position: absolute;
    top: 150px;
    left: 30px;
  }
  
  #main-bio {
    width: 70%;
  }
  
  #contact-info {
    width: 30%;
  }
  
  #bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }
  